.chat__container {
  border-radius:10px ;
  background-color:white;
  width:100% ;
  height:100% ;
  font: 400 14px Jost, sans-serif;

  .chat__info {
    display:flex;
    align-items:center;
    height: 9.22%;
    padding: 7px 12px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.125);
    font-size: 16px;
    background-color: #182A67;
    color:white;

    .ant-select-selection-item,
    .ant-select-selection-placeholder,
    .ant-select-arrow {
      color: white;
    }

    .ant-select-disabled {
      .ant-select-selection-item,
      .ant-select-selection-placeholder,
      .ant-select-arrow {
        color: rgba(255, 255, 255, 0.47);
      }
    }
  
    .chat__applicant-name {
      width:40%;
      overflow-wrap:break-word;
      overflow-x: hidden;
      text-overflow:ellipsis;
    }
    
    .chat__operator-info {
      display:flex;
      justify-content: flex-end;
      align-items: center;
      width:40%;
      flex-wrap: wrap;
    }
    
    .chat__active-status {
      width:20%;
      margin-left:auto;
    }
  }
  
  .chat__messages {
    display: flex;
    flex-direction: column;
    height: 79.27%;
    overflow-y: auto;
    scrollbar-width: auto;
    scrollbar-color: #1677ff #b8d5ff ;
    
    .unread-notification {
      margin-bottom: 5px;
      padding:5px;
      font-size:16px;
      font-weight:500;
      background-color: #dddddd;
      color:#1677ff;
      text-align:center;
    }
  
    &::-webkit-scrollbar {
      width:6px;
    }

    &::-webkit-scrollbar-track {
      display:none;
      width:1px;
      background-color: #b8d5ff;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      width:6px;
      background-color: #1677ff;
      border-radius: 10px;
    }

    .invisible-container {
     flex-grow: 1;
    }
  }

  .chat__footer {
    display: flex;
    justify-content:space-between;
    height: 11.47%;
    align-items: center;
    margin:0 10px;
  } 

  .chat__footer_not-allowed {
    justify-content:center;
    background-color:#F8F8F8;
  }
}
