
.chat-container {

  border-radius:10px ;
  background-color:white;
  width:100% ;
  height:400px ;
  margin-top:30px ;
  font: 400 16px Inter, sans-serif;

  .messages {
    display: flex;
    flex-direction: column;
    // height: 80vh;
    height: 340px;
    overflow-y: auto;
    scrollbar-width: auto;
    scrollbar-color: #1677ff #b8d5ff ;
  
    &::-webkit-scrollbar {
      width:6px;
    }
    &::-webkit-scrollbar-track {
      display:none;
      width:1px;
      background-color: #b8d5ff;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      width:6px;
      background-color: #1677ff;
      border-radius: 10px;
    }
   
  
    
  
    .invisible-container {
     flex-grow: 1;
    }
    
    
    
  }
  
  .input-panel {
    height:60px;
    margin:0 10px;
  }
  
}

