@import "../variables.scss";

.comm-filters__link {
  max-height:39.6px;
  padding: 9px 24px;
  border-radius: 10px;
  background-color: $comm-filtelrs-button-bgc;
}

.country-filter__link {
  max-height:42px;
  width:25%;
  text-align:center;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: $country-filters-button-bgc;
}

.active {
  background-color: $active-button-bgc;
  color: $active-button-text-c;
}

.outlineless {
  background-color:inherit;
  padding: 0;
  border-radius: 0;
}
