@import "../variables.scss";

.wrapper {
  display:flex;
  justify-content:center;
  align-items:center;

  .container {
    width:1280px;
    min-height:100vh;
    background-color: $project-bgc;
    margin:0 2%;
    // border:1px solid red;

    .secondary-container{
      display:flex;
      min-height:751px;
    }
  }
}

