@import "../variables.scss";

.menu {
  width:15.625%;
  padding:53px 0 0 37px;
  background-color: $aside-menu-bgc;
  border-radius: 0 20px 0 0;

  .menu__item {
    margin-bottom: 28px;
    
  }
  .menu__item-link {
    color:$menu-button-text-c;
  }
}