
.chat-container {
  position:fixed;
  bottom:10px;
  right:10px;
  border-radius:10px ;
  background-color:white;
  width:28% ;
  height:400px ;
  margin-top:30px ;
  // box-shadow:0px 0px 1px rgb(75, 216, 86);
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.50);

  .messages {
    position:relative;
    display: flex;
    flex-direction: column;
    height: 340px;
    overflow-y: auto;
    scrollbar-width: auto;
    scrollbar-color: #1677ff #b8d5ff ;
  
    &::-webkit-scrollbar {
      width:6px;
    }
    &::-webkit-scrollbar-track {
      display:none;
      width:1px;
      background-color: #b8d5ff;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      width:6px;
      background-color: #1677ff;
      border-radius: 10px;
    }
   
  
    .message__container {
      position:relative;
      margin-bottom: 2px;
      padding:0 5px;
      z-index:-5;
  
  
      .message__text {
        padding:7px 12px;
        max-width:70%;
        text-align:start;
        border-radius:14px;
        word-break: break-word;
      }
      
      .operator {
        margin-left: auto;
        background-color: #D9D9D9;
      }
      
      .applicant {
        background-color: #fff;
      }
    }
  
    .invisible-container {
     flex-grow: 1;
    }
  }
  
  .input-panel {
    height:60px;
    margin:0 10px;
  }
  
}

