.empty {
  padding:50 20;
}

.person__title {
  color:#0F6CA5;
  font: 500 20px Jost, sans-serif;
}

.person__applicants-num {
  margin-left:20px;
  color:#000000;
  font: 400 16px Jost, sans-serif;
}

.person-info__question {
  color: #A5A5A5;
  font: 400 14px Jost, sans-serif;
}

.questionnary-item__container {
  margin-bottom:10px;
}
