.workpage {
  display: block;
  width: 100%; 
  min-height: 100vh;
  margin: 0 auto; 
  background: #F8F8F8 !important;

  .main {
    // margin-top: 64px;
    position:relative;
    top:64px;
    min-height: calc(100vh - 64px);

    .content {
      position: relative;
      margin-left: 200px;
      overflow: hidden;
      background-color: #F8F8F8;
    }
  }
}