//project background colors
$project-bgc: #F8F8F8;

//header colors
$header-nav-text-c: #767680;

//aside menu colors
$aside-menu-bgc:#767680;
$menu-button-text-c:#fff;

//button colors
$comm-filtelrs-button-bgc: #fff;
$country-filters-button-bgc: #D9D9D9;
$active-button-bgc: #D9D9D9;
$active-button-text-c:#4F6FDF;
